# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.txt
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Build artifacts
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Platform-specific files
/android/app/src/main/assets/flutter_assets/
/android/key.properties
/android/local.properties
/android/.gradle/
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/.last_build_id
/ios/Runner/Assets.xcassets/AppIcon.appiconset/
/windows/flutter/ephemeral/
/macos/Flutter/ephemeral/
/linux/flutter/ephemeral/
